.input-form {
  display: flex;
}
.custom-input {
  padding: 8px;
  font-size: 28px;
  border: 3px solid #a49dd1;
  color: #a49dd1;
  background-color: #27233d;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
.custom-input:focus {
  border-color: #284be2;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
