.work-board {
  position: relative;
  height: 90vh;
}
.work-board__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-board__notes {
  position: relative;
}
.work-board__note {
  width: 230px;
  height: 300px;
  border: 2px solid #a49dd1;
  position: absolute;
  cursor: grab;
  z-index: 1;
  transition: z-index 0.3s;
  background-color: #fff;
  user-select: none;
}
.work-board__note.dragged {
  z-index: 2;
  cursor: grabbing;
}
.note-title-input {
  font-size: 16px;
  padding: 2px;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  color: #fff;
  border-color: #a49dd1;
}
.note-description-textarea {
  font-size: 16px;
  padding: 2px;
  margin: 10px auto;
  display: block;
  background-color: transparent;
  color: #fff;
  border-color: #a49dd1;
  resize: none;
  height: 200px;
}
.note-date {
  color: #fff;
  font-size: 16px;
  display: block;
  margin-right: 10px;
  text-align: right;
}
.delete-icon {
  color: #fff;
  font-size: 16px;
  padding-top: 2px;
  cursor: pointer;
  width: 22px;
  margin-left: auto;
}
.delete-icon::hover {
  color: #f70909;
}
